{% extends 'base.html' %}
{% block nav %}
<table style="margin-left: 5%; width:90%; border: 1px solid lightblue;">
    <thead>
        <th colspan="4"><h2 style="text-align:center;"> Profesor profil</h2></th>
    </thead>
    <tbody>
        <tr><td>
            <button onclick="window.location.href='http://localhost:8000/subjects/';">Moji predmeti</button>    
            <button onclick="window.location.href='http://localhost:8000/logout/';">Odjavi se</button>   
        </td></tr> 
    </tbody>
</table>
{% endblock %}