{% extends 'base.html' %}
{% block zad1 %}
<style>
    td{
        text-align:center;
        border-bottom: 1px solid lightblue;
    }
    table{
        width: 50%;
    border: 1px solid lightblue;
    }
</style>
<button onclick="window.location.href='http://localhost:8000/login_by_user/admin/';">Natrag</button> 
<br><br>
<table>
    <thead>
        <tr>
            <th>Student</th>
            <th>Ukupno ECTS</th>
            <th>Upisano ECTS</th>
            <th>Položeno ECTS</th>
            <th>Predmeti</th>
        </tr>
    </thead>
    <tbody>
        {% for data in student_data %}
        <tr>
            <td>{{ data.student.first_name }} {{ data.student.last_name }}</td>
            <td>{{ data.ukupni_ects }}</td>
            <td>{{ data.upisani_ects }}</td>
            <td>{{ data.polozeni_ects }}</td>
            <td><button onclick="window.location.href='{% url 'prikazi_detalje' data.student.id %}';">Vidi detalje</button></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}  
